---
 const personalImageAlt = "Miguel Ángel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Tôi là <strong>Nguyễn Minh Quân</strong>, một lập trình viên đam mê công nghệ và không ngừng học hỏi. 
      Tôi bắt đầu hành trình với lập trình từ khi còn rất sớm và hiện tại đang tập trung phát triển các dự án web hiện đại với 
      <strong>React, Next.js, Node.js</strong> và các công nghệ liên quan.
    <p>
      Tôi có kinh nghiệm xây dựng <strong>các ứng dụng thực tế, từ giao diện người dùng đến backend</strong>, đồng thời luôn đặt trải nghiệm người dùng và hiệu suất lên hàng đầu. 
      Bên cạnh đó, tôi thường xuyên chia sẻ kiến thức, học hỏi cộng đồng và mong muốn được đóng góp cho những dự án có giá trị thực tiễn.
    </p>

    <p>
      Mục tiêu của tôi là <strong>không ngừng phát triển kỹ năng, mở rộng mối quan hệ</strong> 
      trong ngành và trở thành một lập trình viên có tầm ảnh hưởng tích cực đến cộng đồng công nghệ.
    </p>
  </div>

  <img width="200" height="200" src="/ava.jpg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
