---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "5/2025 - Hiện tại",
    title: "WordPress Developer Intern",
    company: "My Vo Technology and Media",
    description:
      "Tham gia xây dựng và quản lý website công ty bằng WordPress, bao gồm tùy chỉnh giao diện, tích hợp plugin và cập nhật nội dung cho blog, sản phẩm, tin tức. Tôi cũng hỗ trợ sản xuất video quảng bá khóa học và đăng tải trên YouTube nhằm tăng nhận diện thương hiệu và thu hút học viên.",
    link: "https://thayvovanmy.com/",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
