---
const personalImageAlt = "Miguel Ángel"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full object-cover shadow-lg size-16"
      src="/quan.jpg"
      alt={personalImageAlt}
    />
    <a
      href="https://linkedin.com/in/midudev"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Sẵn sàng làm việc</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-4xl dark:text-white"
  >
    Xin chào, tôi là Minh Quân
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    Tôi là một sinh viên công nghệ thông tin, định hướng trở thành <strong>Web Developer</strong> chuyên nghiệp. Tôi luôn sẵn sàng học hỏi và mong muốn được tham gia vào các dự án thực tế để <strong>phát triển kỹ năng và tích lũy kinh nghiệm.</strong>
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="mailto:minhhquann1508@gmail.com">
      <MailIcon class="size-4" />
      Liên hệ
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/nguy%E1%BB%85n-minh-qu%C3%A2n-490033237/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>
